<?xml version='1.0' encoding='utf-8'?>
<widget id="fs.ejemplobd.bd" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PruebasDIED</name>
    <description>
       App demo1
    </description>
    <author email="rcportocarrero@gmail.com" href="http://tudominio.com">
        Roy Cespedes P.
    </author>
    <content src="index.html" />
    <plugin name="com.brodysoft.sqliteplugin" source="pgb"/> 
    <access origin="*" />
</widget>
